<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Document</title>
                    <link rel="stylesheet" href="../css/style.css">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="../images/img1p.jpg" width="508" height="298">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/productos.html">Products</a></li>
            <li><a href="../views/presupuesto.html">Register</a></li>
            <li><a class="ctn" href="../views/contacto.html">Contact Us</a></li>
        </ul>
     </nav>
<header>
    <div class="header-content">
                  <h2>Explore Flowers</h2>  
                  <div class="line"></div>
                  <h1>A Wonderfull Gift</h1>
                  <a class="a-learn" href="views/contacto.html">Learn More</a>
    </div>
 </header>
          <section>
                <h3 >Email <br>malikpari467@gmail.com</h3>   
                 <h4>Address <br>Vilagarcia de arousa,<br> Rua Santa Eulalia, N20 <br>
                 </h4>
                 <img class="map-png" src="../images/img6p.png" height="676" width="1300">
                 <h2>Rúa Santa Eulalia </h2> <p>Vilagarcía de Arousa,
                     36600 Vilagarcía de Arousa, Pontevedra</p>
          </section>  
          <footer>
                    <div class="mainn">
                     <h3>Learn More
                     </h3>
                     <h4>About Our Website</h4>
                     <p>Find the Best Bouquets Here ONLY ON <span>EXPLORE FLOWERS</span></p>
                     <P><a class="link-web" href="index.html">www.explore.flowers.com</a></P>
                     </div>
                    <div class="footer-contact">
                     <h4>Contact</h4>
                     <p>home</p>
                     <p>contact</p>
                     <p>main</p>
                    </div>
                    <div class="footer-number-email">
                     <h5>Number : +34 604089863</h5>
                     <h5>Email : malikpari467@gmail.com</h5>
                    </div>
                    <div class="footer-redes">
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://x.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://mail.google.com/mail/u/0/"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://contacts.google.com/"><i class="fa-solid fa-address-book"></i></a>
                       </div>
                 <div class="footer-logo">
                     <img class="footer-logo" src="../images/img1p.jpg" width="508" height="298">
                     <h3 class="footer-name">Explore Flower</h3>
                 </div>
                    <hr>
              </footer>        
</body>
</html>