<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Document</title>
                    <link rel="stylesheet" href="../css/style.css">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
       <nav class="navbar">
              <img class="logo" src="../images/img1p.jpg" width="508" height="298">
              <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="../views/productos.html">Products</a></li>
                  <li><a href="../views/presupuesto.html">Register</a></li>
                  <li><a class="ctn" href="../views/contacto.html">Contact Us</a></li>
              </ul>
           </nav>
      <header>
          <div class="header-content">
                        <h2>Explore Flowers</h2>  
                        <div class="line"></div>
                        <h1>A Wonderfull Gift</h1>
                        <a class="a-learn" href="views/contacto.html">Learn More</a>
          </div>
       </header>
       <form class="form-register">
                    <h2>Registration Form</h2>
                    <h5>Name</h5><input class="text-input" type="text" placeholder="fullname"><br>
                    <h5>Email</h5><input class="text-input" type="text" placeholder="email"><br>
                    <h5>Telephone</h5> <input class="text-input" type="text" placeholder="number"><br>
                    <h4>Request more options</h4>
                    <textarea class="multi-input" name="Message" placeholder="type your request here...."
                    >
                    </textarea><br>
                    <input class="checkbox" type="checkbox">
                    <p>By ticking this box I agree that I have read the
                    privacy policy</p>
                   <a class="a1" href="#">Privacy & Policy</a>
                   <a class="a2" href="#">Terms & Conditions</a> <br>
                   <button class="form-button">Send</button>
         <button class="form-button">Reset</button>
       </form>  
       <footer>
              <div class="mainn">
               <h3>Learn More
               </h3>
               <h4>About Our Website</h4>
               <p>Find the Best Bouquets Here ONLY ON <span>EXPLORE FLOWERS</span></p>
               <P><a class="link-web" href="index.html">www.explore.flowers.com</a></P>
               </div>
              <div class="footer-contact">
               <h4>Contact</h4>
               <p>home</p>
               <p>contact</p>
               <p>main</p>
              </div>
              <div class="footer-number-email">
               <h5>Number : +34 604089863</h5>
               <h5>Email : malikpari467@gmail.com</h5>
              </div>
              <div class="footer-redes">
                     <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                     <a href="https://x.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
                     <a href="https://mail.google.com/mail/u/0/"><i class="fa-solid fa-envelope"></i></a>
                     <a href="https://contacts.google.com/"><i class="fa-solid fa-address-book"></i></a>
                    </div>
           <div class="footer-logo">
               <img class="footer-logo" src="../images/img1p.jpg" width="508" height="298">
               <h3 class="footer-name">Explore Flower</h3>
           </div>
              <hr>
        </footer>
</body>
</html>